#page-header {
  background: transparent !important;
}
#page-header #post-info {
  bottom: 120px !important;
  text-align: center;
}
.top-img {
  height: 250px;
  margin: -50px -40px 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 230px;
    margin: -36px -14px 36px;
  }
}
#footer:before {
  background-color: rgba(255,255,255,0.5);
}
#footer-wrap,
#footer-wrap a {
  color: #111;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -ms-transition: unset;
  transition: unset;
/* 夜间模式遮罩透明 */
}
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}
/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: #faebd7;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #3ecdf1;
  color: #f2f2f2;
}
/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/* -------------------------------------------导航栏魔改
此处的css实现了两个作用：菜单栏居中、子菜单横向显示。
其中子菜单横向显示要根据自己的实际情况来改，例如你的以及菜单的第2个选项中有子菜单，那就要加一项调节第2个选项中的子菜单，
这个具体调节多少要根据你的具体情况为准，可以自己慢慢调到中间。 */
/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -o-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: box !important;
  display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(5) .menus_item_child {
  left: -38px;
}
/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  -webkit-animation: light_15px 10s linear infinite;
  -moz-animation: light_15px 10s linear infinite;
  -o-animation: light_15px 10s linear infinite;
  -ms-animation: light_15px 10s linear infinite;
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  -webkit-animation: light_10px 10s linear infinite;
  -moz-animation: light_10px 10s linear infinite;
  -o-animation: light_10px 10s linear infinite;
  -ms-animation: light_10px 10s linear infinite;
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  -webkit-animation: light_5px 10s linear infinite;
  -moz-animation: light_5px 10s linear infinite;
  -o-animation: light_5px 10s linear infinite;
  -ms-animation: light_5px 10s linear infinite;
  animation: light_5px 10s linear infinite;
}
/* 关键帧描述 */
/* -----------------------------------------------背景宇宙星光  */
/* 夜间模式下背景宇宙星光 */
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
/* 亮色模式下隐藏 */
[data-theme='light'] #universe {
  display: none;
}
/* ----------------------------------侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: -webkit-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: -moz-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: -o-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: -ms-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  -o-animation: Gradient 10s ease infinite !important;
  -ms-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: rgba(25,25,25,0.933);
}
/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}
:root {
  --trans-light: rgba(255,255,255,0.98);
  --trans-dark: rgba(25,25,25,0.9);
  --border-style: 1px solid #a9a9a9;
  --backdrop-filter: blur(5px) saturate(150%);
}
/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 12px;
  border: var(--border-style);
  height: 18em;
}
/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 12px;
  border: var(--border-style);
}
/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 12px;
}
/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255,255,255,0.75);
  backdrop-filter: var(--backdrop-filter);
}
[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0,0,0,0.7) !important;
}
/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}
/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}
/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158,204,171,0.5) !important;
}
.read-mode div#post {
  background: rgba(158,204,171,0.5) !important;
}
/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25,25,25,0.9) !important;
  color: #fff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(25,25,25,0.9) !important;
  color: #fff;
}
/* 全局宽度 */
.layout {
  max-width: 1300px;
}
/* 侧边卡片栏宽度 */
.aside-content {
  max-width: 310px;
  min-width: 292px;
}
/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}
:root {
  --ichika-color: #49a6e9;
  --theme-color: #49a6e9;
  --anzhiyu-card-bg: #9cb9ce;
}
/* 公告&欢迎页 */
.card-announcement {
  line-height: 30px;
  font-size: 16px;
}
.card-announcement .item-headline span {
  margin-left: 0 !important;
}
.card-announcement span {
  font-weight: bold;
  font-size: 18px !important;
  color: var(--ichika-color);
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 4rem;
  background: #eaecf2;
  border: 1px #e3e8f7;
  overflow: hidden;
}
.pace-inactive .pace-progress {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: absolute;
  z-index: 2000;
  display: block;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: -moz-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: -ms-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-animation: gradient 1.5s ease infinite;
  -moz-animation: gradient 1.5s ease infinite;
  -o-animation: gradient 1.5s ease infinite;
  -ms-animation: gradient 1.5s ease infinite;
  animation: gradient 1.5s ease infinite;
  background-size: 200%;
}
.pace.pace-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  top: -8px;
}
/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
  -webkit-animation: huxi_light 4s ease-in-out infinite;
  -moz-animation: huxi_light 4s ease-in-out infinite;
  -o-animation: huxi_light 4s ease-in-out infinite;
  -ms-animation: huxi_light 4s ease-in-out infinite;
  animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
  -webkit-animation: huxi_dark 4s ease-in-out infinite;
  -moz-animation: huxi_dark 4s ease-in-out infinite;
  -o-animation: huxi_dark 4s ease-in-out infinite;
  -ms-animation: huxi_dark 4s ease-in-out infinite;
  animation: huxi_dark 4s ease-in-out infinite;
}
/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -moz-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -o-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -ms-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -o-animation-delay: -2s;
  -ms-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  -ms-animation-duration: 7s;
  animation-duration: 7s;
  fill: rgba(247,249,254,0.741);
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  -moz-animation-delay: -3s;
  -o-animation-delay: -3s;
  -ms-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;
  -ms-animation-duration: 10s;
  animation-duration: 10s;
  fill: rgba(247,249,254,0.51);
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  -moz-animation-delay: -4s;
  -o-animation-delay: -4s;
  -ms-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -o-animation-duration: 13s;
  -ms-animation-duration: 13s;
  animation-duration: 13s;
  fill: rgba(247,249,254,0.212);
}
.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  -o-animation-delay: -5s;
  -ms-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  -ms-animation-duration: 20s;
  animation-duration: 20s;
  fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -o-animation-delay: -2s;
  -ms-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  -ms-animation-duration: 7s;
  animation-duration: 7s;
  fill: rgba(24,23,29,0.784);
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  -moz-animation-delay: -3s;
  -o-animation-delay: -3s;
  -ms-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;
  -ms-animation-duration: 10s;
  animation-duration: 10s;
  fill: rgba(24,23,29,0.502);
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  -moz-animation-delay: -4s;
  -o-animation-delay: -4s;
  -ms-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -o-animation-duration: 13s;
  -ms-animation-duration: 13s;
  animation-duration: 13s;
  fill: rgba(24,23,29,0.243);
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  -o-animation-delay: -5s;
  -ms-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  -ms-animation-duration: 20s;
  animation-duration: 20s;
  fill: #18171d;
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}
svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: rgba(248,248,248,0.973);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}
[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: rgba(34,34,34,0.949);
  border: 1px solid #5c6060;
}
.card-info-avatar .author-status-box .author-status {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}
.card-info-avatar .author-status-box:hover {
  width: 105px;
}
.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}
.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}
/* 信息卡片彩带 */
.author_top:hover {
  background: url("https://tuchuang.voooe.cn/images/2023/01/02/snow.gif");
  background-size: cover;
}
@-moz-keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}
@-webkit-keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}
@-o-keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}
@-moz-keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}
@-webkit-keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}
@-o-keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}
@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}
@-moz-keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}
@-webkit-keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}
@-o-keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}
@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes huxi_light {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #e9f5fa;
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@-webkit-keyframes huxi_light {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #e9f5fa;
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@-o-keyframes huxi_light {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #e9f5fa;
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@keyframes huxi_light {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #e9f5fa;
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #e9f5fa;
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@-moz-keyframes huxi_dark {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #39c5bb;
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}
@-webkit-keyframes huxi_dark {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #39c5bb;
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}
@-o-keyframes huxi_dark {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #39c5bb;
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}
@keyframes huxi_dark {
  0% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #39c5bb;
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    -webkit-box-shadow: 0px 0px 1px 1px #39c5bb;
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}
@-moz-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    -moz-transform: translate3d(-90px, 0, 0);
    -o-transform: translate3d(-90px, 0, 0);
    -ms-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    -moz-transform: translate3d(85px, 0, 0);
    -o-transform: translate3d(85px, 0, 0);
    -ms-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    -moz-transform: translate3d(-90px, 0, 0);
    -o-transform: translate3d(-90px, 0, 0);
    -ms-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    -moz-transform: translate3d(85px, 0, 0);
    -o-transform: translate3d(85px, 0, 0);
    -ms-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@-o-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    -moz-transform: translate3d(-90px, 0, 0);
    -o-transform: translate3d(-90px, 0, 0);
    -ms-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    -moz-transform: translate3d(85px, 0, 0);
    -o-transform: translate3d(85px, 0, 0);
    -ms-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    -moz-transform: translate3d(-90px, 0, 0);
    -o-transform: translate3d(-90px, 0, 0);
    -ms-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    -moz-transform: translate3d(85px, 0, 0);
    -o-transform: translate3d(85px, 0, 0);
    -ms-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
